.ng-valid[required], .ng-valid.required  {border-left: 5px solid #42A948; /* green */}
.ng-invalid:not(form)  {border-left: 5px solid #a94442; /* red */}
#login{
	background: #282828;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.login{
	margin-top: 10%;
	background: #333333;
	color: white;
}
.panel-heading{
	text-align: center;
}
