<!--<div class="pinglgl" [@donghua]="donghua">
	<div class="top">
		<div class="col-sm-11">
				<form class="form-inline">
				  <div class="form-group forms">
				    <div class="input-group inputs">
				      <input type="text" class="form-control"  placeholder="用户名,昵称">
				      <div class="input-group-btn buttn">
				      	<button class="btn btn-info ">
				      		<span class="glyphicon glyphicon-search"></span>
				      		搜索
				      	</button>
				      </div>
				    </div>
				  </div>
				</form>
		</div>
	</div>
	<div class="tables">
		<table border="1px solid #C8C8C8" cellspacing="" cellpadding="" class="table table-bordered">
			<thead>
				<tr>
					<th>序号</th>
					<th>标题</th>
					<th>作者</th>
					<th>日期</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of users;let i=index">
					<td>{{i+1}}</td>
					<td>{{item.content}}</td>
					<td>{{item.username}}</td>
					<td>{{item.date}}</td>
					<td>
						<span><img src="../../../../assets/img/编辑.png" alt="" /></span>
						<span><img src="../../../../assets/img/锁.png" alt="" /></span>
						<span><img src="../../../../assets/img/解锁.png" alt="" /></span>
						<span><img src="../../../../assets/img/删除.png" alt="" /></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>-->


<div class="header" >
		<div class="left col-sm-6">
			<div>
				<span>EMP-Admin</span>
			</div>
			<div class="imgmore">
					<img src="../../../assets/img/more.png"/>
			</div>
		</div>
		<div class="right col-sm-6">
			<div class="rightcon">
				<div class="name">
					<span>小鬼</span>
				</div>
				<div class="headimg"> 
						<img src="../../../assets/img/banane.jpg" alt="" />
				</div>
				<div class="down">
					<div class="dropdown">
					  <div class="dropdown-toggle" id="dropdownMenu1" >
					    <img style="height: 25px;" src="../../../../assets/img/down.png"/>
					  </div>
					</div>	
				</div>
			</div>
		</div>
		<div class="aaaa">
			<ul>
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
			</ul>
		</div>

</div>
